body {
font-family: 'Playfair Display', serif;
padding-top: 70px;
}


.navbar {
background: #2c0d0d;
}


.hero {
height: 100vh;
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/hero.jpg') center/cover;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
}

.hero h1 {
font-size: 4rem;
}


.section {
padding: 80px 0;
}

.menu-card {
background: white;
padding: 25px;
margin: 10px;
text-align: center;
border-radius: 10px;
box-shadow: 0 10px 20px rgba(0,0,0,0.1);
font-weight: 500;
}


.dark {
background: #1a1a1a;
color: #eee;
}


footer {
background: #000;
color: #aaa;
padding: 20px 0;
}
